/*Screen 3 CSS*/

.container-fluid {
    overflow: hidden;
}

.backcolor3 {
    background: #1D1D41;
    background-size: cover;
    height: auto;
}

.head3 {
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    top: 5%;
    line-height: normal;
    color: rgba(255, 255, 255, 0.98);
}

.box1 {
    width: 80%;
    height: 100%;
    background: #25284D;
    border-radius: 30px 30px 0px 0px;
}

.box2 {
    /* margin: 0 auto;
    width: 80%;
    height: auto; */
    background: rgba(122, 122, 122, 0.2);
    border-radius: 30px;
}

@media (max-width:550px) {
    .head3 {
        font-size: 5vw;
        padding: 5%;
    }
    .backcolor3 {
        height: auto;
    }
}