@font-face {
    font-family: TT Norms;
    src: url(../fonts/TTNorms-Regular.otf);
}


/*Screen 1 CSS*/


.jumbotron {
    background-image: url(../assets/head.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.arrow {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.dot {
    position: absolute;
    bottom: 7.4vw;
    left: 69.2%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media only screen and (max-width:1024px) {
    .jumbotron {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 40vh;
    }
    .arrow {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .arrow span {
        width: 20px;
        height: 20px;
        border-bottom: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
    }

    .dot {
        position: absolute;
        top: 33%;
        /*bottom: 7.4vw;
        left: 69.2%;*/
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
    }
}

@media only screen and (max-width:414px) {
    .jumbotron {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 40vh;
    }
    .arrow {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .arrow span {
        width: 20px;
        height: 20px;
        border-bottom: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
    }

    .dot {
        position: absolute;
        top: 33%;
        /*bottom: 7.4vw;
        left: 69.2%;*/
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
    }
}

@media only screen and (max-width:768px) {
    .jumbotron {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 40vh;
    }
    .arrow {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .arrow span {
        width: 20px;
        height: 20px;
        border-bottom: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
    }

    .dot {
        position: absolute;
        top: 33%;
        /*bottom: 7.4vw;
        left: 69.2%;*/
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
    }
}

@media only screen and (max-width:360px) {
    .jumbotron {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 35vh;
    }
    .arrow {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .arrow span {
        width: 10px;
        height: 10px;
        border-bottom: 2.5px solid #ffffff;
        border-right: 2.5px solid #ffffff;
    }

    .dot {
        position: absolute;
        top: 33%;
        /*bottom: 7.4vw;
        left: 69.2%;*/
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
    }
}

.head1 {
    padding-top: 10.5vw;
    /*padding-top: calc(4.5rem + 74px);*/
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    line-height: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.98);
}

.head2 {
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.fa-angle-double-down {
    left: 50%;
    bottom: 9.7vw;
    color: rgba(255, 255, 255, 0.8);
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.dot {
    position: absolute;
    bottom: 7.4vw;
    left: 69.2%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


/*Screen 2 CSS*/

.signforchallenges {
    background: #1D1D41;
    box-shadow: 0px 3.42949px 3.42949px rgba(0, 0, 0, 0.25);
    border-radius: 42.8px;
    margin-top: 5%;
}

.singupforchallengetitle {
    padding: 15%;
    padding-top: 5%;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}

.number {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    background: #E1E1E1;
    border-radius: 42.8px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.text {
    color: #E1E1E1;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-right: 45%;
}

.competetivep_card,
.design_card,
.webdev_card,
.ml_card {
    background: #E2E2E2;
    border-radius: 25px;
    margin: 0 25%;
}

.logo {
    background: #1D1D41;
    border-radius: 50%;
    width: 80%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
    padding: 20% 25%;
}

.nameoftopic {
    padding: 10%;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    color: #D6D6D6;
    font-size: 40px;
}

.maintopic {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.topicdetails {
    font-family: Montserrat;
    font-style: normal;
}

.sinupdetails1 {
    padding-left: 15px;
    padding-top: 35px
}

.sinupdetails2 {
    padding-left: 15px;
    padding-top: 15px
}

.sinupdetails3 {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px
}

.carouseltopics {
    margin-top: 5%;
    margin-bottom: 5%;
}

.topicitemcarousel {
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(1, 2, 5, 1);
}

@media (min-width:900px) and (max-width:1200px) {
    .nameoftopic {
        font-size: xx-large;
    }
}

@media (min-width:500px) and (max-width:900px) {
    .nameoftopic {
        font-size: xx-large;
    }
    .competetivep_card,
    .design_card,
    .webdev_card,
    .ml_card {
        margin: 0 20%;
    }
}

@media (min-width:0px) and (max-width:550px) {
    .carouseltopics {
        margin-bottom: 25%;
    }
    .nameoftopic {
        font-size: xx-large;
    }
    .maintopic {
        font-size: larger;
    }
    .text {
        margin-right: 20%;
    }
    .competetivep_card,
    .design_card,
    .webdev_card,
    .ml_card {
        margin: 0 10%;
    }
    .sinupdetails1,
    .sinupdetails2,
    .sinupdetails3 {
        padding-left: 55px;
    }
    .singupforchallengetitle {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 2%;
    }
}

@media (min-width:550px) and (max-width:850px) {
    .singupforchallengetitle {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 2%;
    }
    .sinupdetails1,
    .sinupdetails2,
    .sinupdetails3 {
        padding-left: 55px;
    }
}

.carousel-indicators {
    top: 110%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(12, 9, 9);
}


/* try */


/*Screen 3 CSS*/

.container-fluid {
    overflow: hidden;
}

.backcolor3 {
    background: #1D1D41;
    background-size: cover;
    height: 100vh;
}

.head3 {
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    top: 5%;
    line-height: normal;
    color: rgba(255, 255, 255, 0.98);
}

.box1 {
    top: 20%;
    width: 80%;
    height: 100%;
    background: #25284D;
    border-radius: 30px 30px 0px 0px;
    z-index: initial;
}

.box2 {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 62%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}


/*Screen 4 CSS*/


/* Make the image fully responsive */

.slidecreator {
    margin: auto;
    margin-bottom: 2%;
}

.slideteam {
    margin: auto;
    margin-bottom: 2%;
}

.meetus {
    margin: 0 10%;
    margin-top: 25px;
    margin-right: 0;
    border-radius: 25px;
    background-color: red;
}

.meetushead {
    margin: auto;
    font-size: large;
    color: #fff;
    padding: 5%;
    padding-bottom: 0;
}

.followus {
    border-radius: 25px;
    background: #27272F;
    margin: 0 10%;
    margin-top: 25px;
}


/* */

.screen4carouselimg {
    width: 30%;
    height: 125px;
    border-radius: 50%;
    margin: 50px auto;
    margin-bottom: 15px;
}

.followustitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    color: #FFF7ED;
    text-align: center;
    margin: auto;
}

.name {
    font-size: x-large;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #FFF7ED;
}

.creator {
    background-color: blue;
    margin: 0 10%;
    margin-top: 25px;
    border-radius: 25px;
}

.position {
    font-size: large;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
}

.team {
    animation-name: team;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.creatoritem {
    animation-name: creatoritem;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.followus {
    padding: 10%;
}

.followustitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
}

.socialimage {
    max-width: 65px;
}

@keyframes team {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    25% {
        transform: translateY(200px);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes creatoritem {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    25% {
        transform: translateY(-200px);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media only screen and (max-width:900px) {
    .meetus {
        margin: 0 10%;
        margin-top: 25px;
        border-radius: 25px;
        background-color: red;
    }
    .socialimage {
        max-width: 45px;
        max-height: 105px;
    }
}

@media only screen and (max-width:500px) {
    .screen4carouselimg {
        width: 40%;
        height: 90px;
    }
    .socialimage {
        max-width: 25px;
        max-height: 105px;
    }
    .followustitle {
        font-size: large;
    }
}
