/*This file contains the necessary css for constructing the signup page*/

/*The screen size used while creating the design is 3072x1920, please alter the margins and sizes accordingly. The website has to be made responsive.*/

.optional-signup {
  position: absolute;
  width: 1632px;
  height: 189px;
  left: 719.5px;
  top: 152.21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 125px;
  line-height: 170px;
  /* or 136% */

  text-align: center;

  color: #3d3434;
}

.click-to-go-back {
  position: absolute;
  width: 549px;
  height: 41px;
  left: 1261.23px;
  top: 354.21px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 47.9731px;
  line-height: 48px;
  /* or 100% */

  text-align: center;

  color: #26c084;
}

.background-rectangle {
  position: absolute;
  width: 2691.41px;
  height: 1577px;
  left: 189.8px;
  top: 453.24px;

  background: #f9f5f1;
  border-radius: 50px;
}

.google-form-container {
  position: absolute;
  width: 967.43px;
  height: 555.61px;
  left: 532.18px;
  top: 576.77px;
  background: #26c084;
  border-radius: 50px;
}

.google-form-container-text {
  position: absolute;
  width: 440px;
  height: 152.11px;
  left: 988.92px;
  top: 881.44px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  /* or 116% */
  color: rgba(255, 255, 255, 0.8);
}

.google-form-container-title {
  position: absolute;
  width: 630px;
  height: 353px;
  left: 989.21px;
  top: 755.58px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
  /* or 108% */

  color: #f7f7f7;
}

.google-form-container-icon {
  position: absolute;
  left: 21.93%;
  right: 70.94%;
  top: 36.68%;
  bottom: 48.58%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /*the image file for this icon is given in the folder*/
}

.anonymous-container {
  position: absolute;
  width: 967.43px;
  height: 555.61px;
  left: 1571.38px;
  top: 576.51px;
  background: #dadada;
  border-radius: 50px;
}

.anonymous-container-title {
  position: absolute;
  width: 466.65px;
  height: 353px;
  left: 2027.62px;
  top: 755.31px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 54px;
  /* or 108% */

  color: #646469;
}

.anonymous-container-text {
  position: absolute;
  width: 301.65px;
  height: 72.64px;
  left: 2027.62px;
  top: 885.26px;

  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  /* or 116% */

  color: #6b707e;
}

.anonymous-container-icon {
  position: absolute;
  width: 260px;
  height: 259px;
  left: 1688.21px;
  top: 724.82px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  /*the image file for this icon is given in the folder*/
}
