.rectangle-containing-calendar {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -70px -71px 83px -28px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 11% 5%;
    margin-bottom: 8%;
    padding: 3%;
    padding-bottom: 1%;
}

body {
    /* position: absolute; */
    /* width: 3200px;
    height: 4000px;
    left: -76px;
    top: -371px; */
    background: url(alex-pflaum-sQzhQLdYaP4-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.col.leftcol {
    margin: 25px 10px;
}

.col.rightcol {
    padding: 30px;
}

.heading {
    font-family: Montserrat;
    font-style: normal;
    font-size: 27.6042px;
    line-height: 28px;
    color: #27272F;
    width: 596px;
}

.topic-display-container {
    background: #828fb6;
    border-radius: 30px;
    padding: 2%;
}

.underline {
    border: 2px solid #27272F;
    border-radius: 5px;
}

.topic-heading-challenge {
    padding: 25% 0%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25.8529px;
    /* line-height: 62px; */
    /* or 82% */
    /* text-align: center; */
    color: #FFF7ED;
    line-height: 200%;
}

.heading1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 75px;
    line-height: 75px;
}

.heading2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.background-panda {
    background: url(pand.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10% 0%;
}

.challenge-topic-first {
    font-size: 99px;
    color: inherit;
}

.challenge-topic-first:hover {
    text-decoration: none;
    color: inherit;
}


/*The undermentioned classes are for the positioning of numbers*/

.numberselected {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #252019;
    background: #768FC1;
    border-radius: 105px;
    margin: 1%;
    padding: 5px;
    text-align: center;
}

.number {
    position: absolute;
    /* width: 11px;
    height: 44px;
    left: 807px;
    top: 840px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #27272F;
    margin: 1%;
    padding: 5px 5px;
    text-align: center;
    cursor: pointer;
}

.number>a,
.numberselected>a {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.number>a:hover,
.numberselected>a:hover {
    opacity: 0.7;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    div.number,
    div.numberselected {
        width: 12%;
    }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    div.number,
    div.numberselected {
        width: 11%;
        padding: 2px;
    }
}

@media (min-width: 315px) and (max-width: 515px) {
    /* For mobile phones: */
    div.number,
    div.numberselected {
        width: 11%;
        padding: 1px;
    }
}