 .signforchallenges {
     background: #1D1D41;
     box-shadow: 0px 3.42949px 3.42949px rgba(0, 0, 0, 0.25);
     border-radius: 42.8px;
     margin-top: 5%;
 }

 .singupforchallengetitle {
     padding: 15%;
     padding-top: 5%;
     color: #FFFFFF;
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 45px;
     line-height: 45px;
 }

 .number {
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     background: #E1E1E1;
     border-radius: 42.8px;
     width: 25px;
     height: 25px;
     text-align: center;
 }

 .text {
     color: #E1E1E1;
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     margin-right: 45%;
 }

 .competetivep_card,
 .design_card,
 .webdev_card,
 .ml_card {
     background: #E2E2E2;
     border-radius: 25px;
     margin: 0 25%;
 }

 .logo {
     background: #1D1D41;
     border-radius: 50%;
     width: 80%;
     margin: auto;
     margin-top: 15%;
     text-align: center;
     padding: 20%;
 }

 .nameoftopic {
     padding: 10%;
     font-family: TT Norms;
     font-style: normal;
     font-weight: bold;
     color: #D6D6D6;
     font-size: 40px;
 }

 .maintopic {
     font-family: Montserrat;
     font-style: normal;
     font-weight: bold;
 }

 .topicdetails {
     font-family: Montserrat;
     font-style: normal;
 }

 .sinupdetails1 {
     padding-left: 15px;
     padding-top: 35px
 }

 .sinupdetails2 {
     padding-left: 15px;
     padding-top: 15px
 }

 .sinupdetails3 {
     padding-left: 15px;
     padding-top: 15px;
     padding-bottom: 15px
 }

 .carouseltopics {
     margin-top: 5%;
 }

 .carousel-item {
     transition-duration: 2s;
     transition-timing-function: cubic-bezier(1, 2, 5, 1);
 }

 @media (min-width:900px) and (max-width:1200px) {
     .nameoftopic {
         font-size: xx-large;
     }
 }

 @media (min-width:500px) and (max-width:900px) {
     .nameoftopic {
         font-size: xx-large;
     }

     .competetivep_card,
     .design_card,
     .webdev_card,
     .ml_card {
         margin: 0 20%;
     }
 }

 @media (min-width:0px) and (max-width:550px) {
     .nameoftopic {
         font-size: xx-large;
     }

     .maintopic {
         font-size: larger;
     }

     .text {
         margin-right: 20%;
     }

     .competetivep_card,
     .design_card,
     .webdev_card,
     .ml_card {
         margin: 0 10%;
     }

     .sinupdetails1,
     .sinupdetails2,
     .sinupdetails3 {
         padding-left: 55px;
     }

     .singupforchallengetitle {
         font-size: 25px;
         line-height: 35px;
         padding-bottom: 2%;
     }
 }

 @media (min-width:550px) and (max-width:850px) {
     .singupforchallengetitle {
         font-size: 35px;
         line-height: 35px;
         padding-bottom: 2%;
     }

     .sinupdetails1,
     .sinupdetails2,
     .sinupdetails3 {
         padding-left: 55px;
     }
 }

 .carousel-indicators {
     top: 110%;
 }

 .carousel-indicators li {
     width: 10px;
     height: 10px;
     border-radius: 100%;
     background-color: rgb(12, 9, 9);
 }

 /* try */